<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <form method= "POST" action="/piglatinize">
      <h2>
        <label for "user_phrase">Enter your phrase:</label>
        <input type="text" name="user_phrase">
      </h2>
      <br>
      <input type="submit" name="submit" id = "Submit">
    </form>
  </body>
</html>
